@import 'src/variables.module';

.overlay {
    position: absolute;
    z-index: $zOverlay;
    height: 100%;
    width: 100%;
    background-color: $backgroundColor;
}

.moduleWrapper {
    position: absolute;
    z-index: 100;
    top: $popUpTop;
    display: flex;
    flex-direction: column;
    background-color: $itemColor;
    height: $popUpHeight;
    width: $popUpWidth;
    border-radius: $popUpBorderRadius;
}

.field {
    margin: $itemMargin;
    background-color: $itemColor;
    border: 0px;
    outline: none;
    caret-color: $defaultTextColor;
    color: $defaultTextColor;
    font-family: inherit;

    &::placeholder { 
        color: $defaultTextColor;
    }
}

.inputField {
    font-size: 24px;
    font-weight: bold;
}

.textField {
    font-size: 16px;
    font-weight: 500;
    resize: none;
}