@import "src/variables.module";

$addButtonHeight: 60px;
$addButtonWidth: 60px;
$borderRadius: 50%;

.addTaskButton {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $zFront;
    width: $addButtonHeight;
    height: $addButtonWidth;
    border-radius: $borderRadius;
    background-color: $successColor;
    transform-origin: 50% 50% 0px;
}

.plus {
    height: 24px;
    width: 24px;
    fill: none;
    overflow: unset;
    
    & > path {
        stroke: #fff;
        stroke-width: 2;
        stroke-linecap: round;
    }
}

:export {
    addButtonHeight: $addButtonHeight;
    addButtonWidth: $addButtonWidth;
    addButtonBorderRadius: $borderRadius;
}