@import "src/variables.module";

.addTaskButton {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $successColor;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus {
    height: 24px;
    width: 24px;
    fill: none;
    overflow: unset;
    
    & > path {
        stroke: #fff;
        stroke-width: 2;
        stroke-linecap: round;
    }
}